@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
    overflow-x:hidden;
    font-family:  'Lato', sans-serif;
    color: whitesmoke;
}
.navbar{

    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .2rem;
    background-color: rgba(0, 5, 17, 0.95) !important;
}
nav.navbar{

margin-top: 30px;
margin-bottom: 30px;
}

#navbarSupportedContent{
   margin-left: 30%;
}

.navbar-brand img{
    height: 3rem;

}
.navbar-dark .navbar-nav .nav-link{
    color:red;
    padding-top: .8rem;
}
/* HOME*/

a.nav-pop-home.active{
    background-color: deepskyblue;
}
a.nav-pop-home:hover{

    transition: .5s;
    color: whitesmoke;
    background-color:deepskyblue;
}
.nav-pop-home{
    color: whitesmoke;
    border-bottom:deepskyblue 2px solid;
}


/* About us*/
a.nav-pop-about.active{
    background-color:#df0018 ;
}
a.nav-pop-about:hover {
    transition: .5s;
    color:whitesmoke;
    background-color:#df0018;
}
.nav-pop-about{
    color: whitesmoke;
    border-bottom:#df0018 2px solid;
}

/* Services*/
a.nav-pop-services.active{
    background-color:#16cb00
}
a.nav-pop-services:hover {
    transition: .5s;
    color: whitesmoke;
    background-color:#16cb00;
}
.nav-pop-services{
    color: whitesmoke;
    border-bottom:#16cb00 2px solid;
}

/* Apply*/
a.nav-pop-apply.active{
    background-color: #9338f5
}
a.nav-pop-apply:hover {
    color:whitesmoke;
    background-color: #9338f5;
    transition: .5s;
}
.nav-pop-apply{
    color: whitesmoke;
    border-bottom: #9338f5 2px solid;
}

/* Contact us */
a.nav-pop-contact.active{
    background-color: orange
}
a.nav-pop-contact:hover {
    transition: .5s;
    color: whitesmoke;
    background-color: orange;

}
.nav-pop-contact{
    color: whitesmoke;
    border-bottom:orange 2px solid;
}
.carousel-item {
   height: 500px;
}
.carousel-item img{
    position: relative;
    bottom: 150px;
}
.carousel-first-item img {
    position: relative;
    bottom: 100px;
}
footer{
    color:whitesmoke;
    background-color: rgba(0, 17, 28, 0.86);
}
.footer-copyright{
    background-color:  #000a15;
}
.icons-hover:hover{
color: aliceblue;
}
.img-fluid img{
    width: 100%;
    height: 150px;

}

aside{
    padding-top: 48px;
}

.card{
    width: 100%;
    padding-top:50px;
}
.blog-post{
    padding-bottom: 50px;

}
.card-img-top{
    padding-bottom: 50px;
}
.map-container{
    width: 100%;
    height: 300px;
}